---
layout: page
title: "Haikang Deng"
subtitle: Research Assistant | UNC Chapel Hill
css: "/assets/css/index.css"
share-img: /assets/img/profile_pic.jpeg
share-title: ""
share-description: ""
cover-img:
  - "/assets/img/port-angeles.jpg" : "Port Angeles, WA (2022)"
  - "/assets/img/ocean-view.jpg" : "Pacific Beach, WA (2022)"
---
<!-- ---
layout: home
title: Haikang Deng
subtitle: Welcome to my personal website!
--- -->

<!-- add a section of profile picture and introduction -->
<div class="row">
  <div class="col-md-12">
    <p>Hi, I am Haikang Deng, a Research Assistant at Department of Computer Science at the 
      University of North Carolina at Chapel Hill.
      I am fortunate to be advised by <a href="https://colinraffel.com/" target="_blank">Prof. Colin Raffel</a>.</p>
    <p>My CV can be found <a href="/assets/pdf/2305Resume.pdf" target="_blank">here</a>.</p>
  </div>

<!-- <div class="list-filters">
  <a href="#publications" class="list-filter filter-selected">Publications</a>
  <a href="#projects" class="list-filter">Projects</a>
  <a href="#experience" class="list-filter">Experience</a>
</div> -->

<!-- assign the variable posts with publications in _publications/, with defaults yaml values -->
{% assign posts = paginator.publications | default: site.publications %}

<div class="posts-list" id="publications">
  {% for post in posts %}
  <article class="post-preview">

    {%- capture thumbnail -%}
      {% if post.thumbnail-img %}
        {{ post.thumbnail-img }}
      {% elsif post.cover-img %}
        {% if post.cover-img.first %}
          {{ post.cover-img[0].first.first }}
        {% else %}
          {{ post.cover-img }}
        {% endif %}
      {% else %}
      {% endif %}
    {% endcapture %}
    {% assign thumbnail=thumbnail | strip %}

    {% if site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="post-image post-image-normal">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}
    {% endif %}

    <a href="{{ post.url | absolute_url }}">
      <h3 class="post-title">{{ post.title }}</h3>

      {% if post.subtitle %}
        <h4 class="post-subtitle">
        {{ post.subtitle }}
        </h4>
      {% endif %}
    </a>

    <p class="post-meta">
      {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
      Posted on {{ post.date | date: date_format }}
    </p>

    {% if thumbnail != "" %}
    <div class="post-image post-image-small">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}

    {% unless site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="post-image post-image-short">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}

    <div class="post-entry">
      {% assign excerpt_length = site.excerpt_length | default: 50 %}
      {{ post.excerpt | strip_html | xml_escape | truncatewords: excerpt_length }}
      {% assign excerpt_word_count = post.excerpt | number_of_words %}
      {% if post.content != post.excerpt or excerpt_word_count > excerpt_length %}
        <a href="{{ post.url | absolute_url }}" class="post-read-more">[Read&nbsp;More]</a>
      {% endif %}
    </div>
    {% endunless %}

    {% if site.feed_show_tags != false and post.tags.size > 0 %}
    <div class="blog-tags">
      Keywords:
      {% for tag in post.tags %}
      <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
    </div>
    {% endif %}

    <!-- for every post, add buttons for arXiv, bibtex, copy bibtex -->
    <div class="blog-tags">
      <a href="{{ post.arxiv }}" target="_blank">arXiv</a>
      <a href="{{ post.bibtex }}" target="_blank">bibtex</a>
      <a href="#" onclick="copyToClipboard('{{ post.bibtex }}')">copy bibtex</a>

   </article>
  {% endfor %}
</div>

<!-- {% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Newer Publications</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Older Publications &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %} -->



<div class="posts-list" id="projects">
</div>


<div class="" id="experience">
</div>